<div class="message">
  <img
    src="/image/profile.png"
    alt="profileImage"
    class="messageImage"
    draggable="false"
  />
  <div class="messageInfo">
    <div class="messageHeader">
      <% if(isUserMember) { %>
      <p class="messageAuthorName"><%= message.fullname %></p>
      <p class="messageUserName">@<%= message.username %></p>
      <p class="messageDuration"><%= timesAgo(message.timestamp) %></p>
      <% } else { %>
      <p class="messageAuthorName">
        <%= message.fullname.split("").map(() => "*" ).join("") %>
      </p>
      <p class="messageUserName">
        @<%= message.username.split("").map(() => "*" ).join("") %>
      </p>
      <p class="messageDuration">****</p>
      <% } %>
    </div>
    <div class="messageBody">
      <p class="messageTitle">Title: <%= message.title %></p>
      <br />
      <p class="messageText"><%= message.message_text %></p>
    </div>
  </div>
</div>
