<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign-Up</title>
    <link rel="stylesheet" href="/sign-up.css" />
    <script src="/eventListeners/eventListener.js" type="module" defer></script>
  </head>
  <body>
    <main>
      <section class="leftSection">
        <img
          class="posterImage"
          src="/image/background.jpg"
          alt="Poster Image"
          draggable="false"
        />
        <div class="bgText">
          <img
            src="/image/logo.jpeg"
            alt="Logo"
            draggable="false"
            class="members_only_logo"
          />
          <p>Members Only</p>
        </div>
      </section>
      <section class="rightSection">
        <div class="taglineDiv">
          <p>
            Sign up today to get access to exclusive content and special perks
            just for members.
          </p>
          <br />
          <p>Be part of our community and enjoy the best we offer!</p>
          <br />
          <br />
          <p>For Members Who Want More.</p>
        </div>
        <div class="formDiv">
          <form action="/sign-up" method="POST" id="sign-up-form">
            <div class="formHead">Sign Up and Get In!</div>
            <div>
              <label for="username">* USERNAME:</label>
              <input
                type="text"
                name="username"
                id="username"
                autocomplete="off"
                required
              />
              <span>
                <%- include("partials/errors.ejs", { path: "username" }) %>
              </span>
            </div>
            <div>
              <label for="fullname">* FULLNAME:</label>
              <input
                type="text"
                name="fullname"
                id="fullname"
                autocomplete="off"
                required
              />
              <span>
                <%- include("partials/errors.ejs", { path: "fullname" }) %>
              </span>
            </div>
            <div class="passwordsDiv">
              <div>
                <label for="password">* PASSWORD:</label>
                <input type="password" name="password" id="password" required />
                <span>
                  <%- include("partials/errors.ejs", {path: "password"}) %>
                </span>
              </div>
              <div>
                <label for="confirmPassword">* CONFIRM PASSWORD:</label>
                <input
                  type="password"
                  name="confirmPassword"
                  id="confirmPassword"
                  required
                />
                <span>
                  <%- include("partials/errors.ejs", {path: "confirmPassword"})
                  %>
                </span>
              </div>
            </div>
          </form>
        </div>
        <div class="actionDiv">
          <button type="submit" form="sign-up-form" class="submitBtn">
            Create account
          </button>
          <div class="loginDiv">
            <p>Already have an account? <span class="loginBtn">Log in</span></p>
          </div>
        </div>
      </section>
    </main>
    <dialog id="loginDialog">
      <form action="/login" method="POST">
        <% if (locals.session.messages) { %>
        <div class="error">
          <%= locals.session.messages[locals.session.messages.length - 1] %>
        </div>
        <script>
          document.querySelector("#loginDialog").showModal();
        </script>
        <% } %>
        <div class="formHead">Login</div>
        <div class="inputDiv">
          <label for="usernameLogin">*Username :</label>
          <input
            type="text"
            name="username"
            id="usernameLogin"
            autocomplete="off"
            required
          />
        </div>
        <div class="inputDiv">
          <label for="passwordLogin">*Password :</label>
          <input type="password" name="password" id="passwordLogin" required />
        </div>
        <button type="submit">Submit</button>
      </form>
    </dialog>
    <script>
      const pwd = document.querySelector("#password");
      const cPwd = document.querySelector("#confirmPassword");
      const form = document.querySelector("#sign-up-form");
      const submitBtn = document.querySelector(".submitBtn");

      pwd.addEventListener("input", checkPasswords);
      cPwd.addEventListener("input", checkPasswords);
      form.addEventListener("submit", handleSubmit);

      function checkPasswords() {
        if (pwd.value !== cPwd.value) {
          cPwd.classList.add("password-mismatch");
          submitBtn.classList.add("submitBtnRed");
        } else {
          cPwd.classList.remove("password-mismatch");
          submitBtn.classList.remove("submitBtnRed");
        }
      }

      function handleSubmit(e) {
        e.preventDefault();

        if (pwd.value === cPwd.value) {
          e.target.submit();
          return;
        }
      }
    </script>
  </body>
</html>
